$color-white: #ffffff;
$color-black: #000000;
$color-blue-100: #578eff;
$color-blue-700: #52635e;
$color-blue-800: #475763;
$color-blue-900: #223E63;

$border-radius-base: 8px;

$mobile-breakpoint: 764px;
